// Include Bootstrap source.
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// Note: Any other css/scss packages that are going to be used globally should be imported here.

.body {
  
}
